## Part 2.1 undersampling

#### 1. load clean data

In [5]:
import sklearn as sk
import pandas as pd
import numpy as np

DATAFILE1 = 'D:\\Google One\\8. Library\\0. UTS\\Master of Information Technology\\4. Subjects\\2021 Semester 1\\32130 Fundamentals of Data Analystics\\4. Assignment\\Assignment 3\\Database\\A3TrainingData-clean.csv'
a3clean = pd.read_csv(DATAFILE1)
a3clean = a3clean[[col for col in a3clean.columns if col != 'Unnamed: 0']]
a3clean.head()

,Quote_Id,Field_info2,Field_info4,Coverage_info1,Coverage_info2,Sales_info1,Sales_info2,Sales_info3,Sales_info5,Personal_info1,...,Property_3_Q,Property_3_R,Property_3_S,Geo_5_CA,Geo_5_IL,Geo_5_NJ,Geo_5_TX,Quote_Year,Quote_Month,Quote_Flag
0,2,-0.621135,0,-0.717500,-3.910702,1,0.793684,-0.475199,1.094556,0,...,0,0,0,1,0,0,0,0.306811,-0.293394,0
1,3,0.831744,0,-0.717500,0.161749,1,0.793684,-2.063478,-1.447873,0,...,0,0,0,0,0,0,1,-1.070547,0.002427,0
2,6,-0.621135,0,-0.538132,0.161749,1,0.793684,-0.475199,1.327870,0,...,0,0,0,1,0,0,0,1.684170,0.002427,0
3,9,-1.593321,0,-1.434974,0.161749,1,0.793684,-0.475199,-1.372715,0,...,0,0,0,0,0,0,1,0.306811,1.185710,0
4,10,1.938956,0,0.717448,0.161749,1,-1.252022,0.954253,1.404361,0,...,0,1,0,0,0,1,0,1.684170,-0.885036,1

#### 2. balance with `SMOTE`

In [6]:
from sklearn.model_selection import train_test_split
X, y = a3clean.iloc[:,:-1], a3clean.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
X_sm, y_sm = sm.fit_resample(X_train, y_train)

print(f'''Shape of X before SMOTE: {X_train.shape}
Shape of X after SMOTE: {X_sm.shape}''')

print('\nBalance of positive and negative classes (%):')
y_sm.value_counts(normalize=True) * 100

Shape of X before SMOTE: (46905, 113)
Shape of X after SMOTE: (75912, 113)

Balance of positive and negative classes (%):

1    50.0
0    50.0
Name: Quote_Flag, dtype: float64

In [9]:
df1 = pd.DataFrame(X_sm)
df1["Quote_Flag"] = y_sm
df1.to_csv("D:\\Google One\\8. Library\\0. UTS\\Master of Information Technology\\4. Subjects\\2021 Semester 1\\32130 Fundamentals of Data Analystics\\4. Assignment\\Assignment 3\\Database\\A3_OverSample_train.csv")

df2 = pd.DataFrame(X_test)
df2["Quote_Flag"] = y_test
df2.to_csv("D:\\Google One\\8. Library\\0. UTS\\Master of Information Technology\\4. Subjects\\2021 Semester 1\\32130 Fundamentals of Data Analystics\\4. Assignment\\Assignment 3\\Database\\A3_OverSample_test.csv")